<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-7">

      <br>
      <br>
      <h3>Add new group</h3>
      <form id="add_group" action="" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="New group name">
        <label for="user">User</label>
        <input type="text" name="user" placeholder="First user">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
  </body>
</html>
