  <head>
    <meta charset="utf-8">
    <title>View Groups</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <p><a href="/main/{% print(username) %}">Back to Main Menu</a></p>
      </div>
      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-6">
          <h3> Add to existing groups</h3>
          <table class="w3-table w3-striped">
           {% for group in groups %}
           <tr>
             <form action="" method="POST">

               <td> <label for="group_name">Name of Group</label> <br>
                 <input type="text" name="group_name" value={{group}}></td>
               <td> <label for="added_user">Add User to Group</label> <br>
                 <input type="text" name="added_user"></td>
               <td> <br> <input type="submit" value="Submit" ></td>
             </form>
           </tr>
           {% endfor %}
          </table>

        </div>

      </div>
      
    </div>

  </body>
